ul {
    padding: 0;
    list-style-type: none;
}

.clock{
    margin: 0 20px;
    font-size: 2em;
}
/*li {
    text-align: center;
    font-size: calc(90vh/16);
    border: 3px solid blue;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}*/

/*#players li{
    background-color: green;
    color: white;
}
#subs li {
    background-color: yellow;
}

#players li.goal-keeper {
    background-color: red;
}*/